/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  /* debug */
  background-color: pink;
  /* fine debug */
}
h6{
  text-align: center;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50% , -50%);
}
[class*="col-"] {
  position: relative;
  /* debug */
  border: 1px solid black;
  min-height: 150px;
  /* fine debug */
}
.col-6, .spec{
  padding: 3px;
}
.little > [class*="col-"] {
  background-color: red;
  border: 1px solid white;
}
